<h3>Примеры наших проектов:</h3>
<div class = "gallery">
    <a target = "_blank" href="assets/img/07.jpg">
        <img width=100% src="assets/img/07.jpg">
    </a>
</div>
<div class = "gallery">
    <a target = "_blank" href="assets/img/08.jpg">
        <img width=100% src="assets/img/08.jpg">
    </a>
</div>
<div class = "gallery">
    <a target = "_blank" href="assets/img/09.jpg">
        <img width=100% src="assets/img/09.jpg">
    </a>
</div>
<div class = "gallery">
    <a target = "_blank" href="assets/img/010.jpg">
        <img width=100% src="assets/img/010.jpg">
    </a>
</div>
<div class = "gallery">
    <a target = "_blank" href="assets/img/f-08_fasad.jpg">
        <img width=100% src="assets/img/f-08_fasad.jpg">
    </a>
</div>

<div class = "gallery">
    <a target = "_blank" href="assets/img/f-05_fasad.jpg">
        <img width=100% src="assets/img/f-05_fasad.jpg">
    </a>
</div>

<div class = "gallery">
    <a target = "_blank" href="assets/img/f-06_fasad.jpg">
        <img width=100% src="assets/img/f-06_fasad.jpg">
    </a>
</div>

<div class = "gallery">
    <a target = "_blank" href="assets/img/f-07_fasad.jpg">
        <img width=100% src="assets/img/f-07_fasad.jpg">
    </a>
</div>

<div class = "gallery">
    <a target = "_blank" href="assets/img/1911_013.jpg">
        <img width=100% src="assets/img/1911_013.jpg">
    </a>
</div>
