<h1 id="title">Загородные дома комфорт класса by InDahaos company Kam от 30 000 руб за квадратный метр</h1>
    <p><b>для жизния,для людей</b></p>
    <p>Более 5 лет мы ведем деятельность в сфере строительства и архитектуры на просторах уникального и энергетически сильного места, города Петропавловска-Камчатского,расположенного на территории несравнимого полуострова,соединяющегося с континентом узким участком суши – Парапольским долом. Остальная его часть омывается водами Тихого океана, Беринговым и Охотскими морями.</p>
        <img src = "assets/img/XXXL.jpeg" width = 100%>
    <ul>
        Особенности края:
           <li>Больше трети территории – это зона спецохраны (площадь полуострова примерно равна площади Новой Зеландии). Сюда входит 3 заповедника, 5 природных парков и 8 заказников и 105 памятников природы.</li>
           <li>Визитная карточка — вулканы и гейзеры. Их здесь больше всего на планете, как действующих, так неактивных. В том числе самый высокий на материке — Ключевская сопка, 4800 м над уровнем моря.Извергается,в среднем, раз в 5 лет.</li>
           <li>По ряду признаков восточное побережье является наиболее сейсмически активным местом на Земле. В течение прошлого века здесь произошло одно землетрясение мощностью в 9 баллов, два мощностью в 8 баллов и десять мощностью в 7 баллов. Более слабых подземных толчков была зафиксированы сотни и тысячи. Землетрясения менее сильные камчадалы не замечают и продолжают вести активную жизнедеятельность, не придавая значения происходящему.</li>
           <li>Камчатка является одним из 10 уголков мира с черным песком на пляже и елинственным в Евразии.</li>
           <li>Камчатская столица, город Петропавловск-Камчатский — самый старый город на всём Дальнем Востоке. Всего в 30 км от него находится действующий вулкан Авачинский и в 4 км штат Соединенных Штатов Америки-Аляска.</li>
    </ul>
   <ol>
      Содержание
      <li><a href = "#best">Наши преимущества</a></li>
      <li><a href = "#pro">Проекты</a></li>
      <li><a href = "#komplekt">Комплектация</a></li>
      <li><a href = "#vozmoj">Возможности</a></li>
      <li><a href = "#kontakt">Контакты</a></li>
   </ol>
   <a name = "best"></a>
   <h2>Наши преимущества</h2>
   <hr>
   <p>Монолитный железобетонный конструктив → Надежность дома, отсутствие усадочных процессов.</p>
   <p>Высокая энергоэффективность → Снижение затрат на обустройство и эксплуатацию отопительной системы.
В блоки Brisolit еще на производстве установлены теплоизоляционные вкладыши толщиной 160 мм из пенополистирола, неопора, мин. ваты или пенополизоцианурата (pir). Благодаря этому сопротивление теплопередаче конструкции превосходит СНиП минимум на 30%.</p>
      <p>Стойкость к атмосферным воздействиям → Отсутствие необходимости в оперативной отделке.
Блоки Brisolit не восприимчивы к влаге, не подвержены гниению и морозоустойчивы. Хранение блоков возможно на любой открытой площадке круглый год.</p>
         <p>Геометрия блока и структура материала → Простота и дешевизна дальнейшей отделки и крепления к стене.
Укладка блоков происходит без раствора и клея, поэтому конструкция из Brisolit исключает «мостики» холода. Сами блоки несъемной опалубки (арболит) являются отличной основой для дальнейшей отделки и крепления.</p>
            <p>Воздухопроницаемость → Снижение затрат на обустройство вентиляции.
Макропористая структура блоков обеспечивает естественную циркуляцию водяного пара через стены.</p>
               <p>Пожаробезопасность → Ваше спокойствие.
Блоки Brisolit относятся к группе горючести НГ по ГОСТ 30244-94 Поэтому они соответствуют всем требованиям пожаробезопасности. Огнестойкость конструкции стены из данного строительного материала достигает высоких показателей в 2.5 часа (REI 150).</p>
                  <p>Шумоизоляция → Ваш комфорт.
Индекс звукоизоляции помещений внутри здания, построенного из блоков Brisolit, достигает 62 децибел.</p>
<p>Экологичность и Долговечность → Ваше будущее.
Блоки Brisolit изготавливаются из экологичных и натуральных материалов: дерева и камня, поэтому не выделяют вредных веществ. Для производства блоков используются цемент и щепа из хвойных пород древесины. При этом не уничтожается лес, а используются отходы деревообработки. Остатки материала после производства и фрезеровки блоков</p>

   <a name = "pro"></a>
   <h2>Проеты</h2>
   <p>Компания InDahaos зарекомендовала себя как надежный поставщик высококачественных материалов и оборудования на строительные объекты различного масштаба и сложности!

Мы являемся официальными дилерами ведущих фабрик Италии,Швейцарии, Бельгии и России.

Многолетние партнерские отношения Студии с ведущими производителями материалов и оборудования позволяют нам полностью комплектовать интерьерные и экстерьерные строительные объекты "под ключ".</p>
   <p>План коттеджа для примера:</p>
   <hr>
   <img src = "assets/img/1_etazh.jpg" width = 50%>
   <img src = "assets/img/2_etazh.jpg" width = 50%>
   <p></p>
     <a name = "aksii"></a>

<a name = "komplekt"></a>
<h2>Технология</h2>
<hr>
<p>Изготовление блоков БРИЗОЛИТ, осуществляется на современном, импортном оборудовании (Германия, Австрия, Италия), в полном соответствии с запатентованной немецкой технологией и разработанной рецептурой.
    </p>
    <img src = "assets/img/01.png" width = 50%>
    <p>Производственная линия по выпуску блоков БРИЗОЛИТ, полностью автоматизированна, что исключает влияние человеческого фактора на качество выпускаемой продукции.</p>
    <p>Процесс производства блоков, начинается с подготовки сырья и рабочей смеси.</p>

<div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext">1/3</div>
    <img src="assets/img/02-1.png" style="width:100%">
    <div class="text">Этап 1</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2/3</div>
    <img src="assets/img/02-2.png" style="width:100%">
    <div class="text">Этап 2</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3/3</div>
    <img src="assets/img/02-3.png" style="width:100%">
    <div class="text">Этап 3</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
<ul>
    <i>Экстерьерные(фасадные) материалы:</i>
   <li>- Кровля</li>
   <li>- Натуральный камень</li>
   <li>- Искусственный облицовочный камень</li>
   <li>- Брусчатка</li>
   <li>- Утеплитель</li>
   <li>- Фасадная и терассная доска</li>
   <li>- Экстерьерные лаки для дерева</li>
   <li>- Деревянные окна</li>
   <li>- Уличные изделия из металла и стекла</li>
   <li>- Перила, лестницы</li>
   <li>- Фасадное и ландшафтное освещение</li>
   <li>- Фасадная штукатурка и краска</li>
</ul>
<ul>
    <i>Инженерное оборудование:</i>
    <li>- Отопительное оборудование (котлы, радиаторы)</li>
    <li>- Печи, камины, дымоходы</li>
    <li>- Инженерная сантехника (инсталляции, трапы, канализационные трубы)</li>
    <li>- Розетки и выключатели</li>
</ul>
<a name = "vozmoj"></a>
<h2>Возможности</h2>
<hr>
<p>Возможно строительство по Вашему индивидуальному проекту. В создании плана Вам помогут ведущие дизайнеры, инженеры и проектировщики полуострова, прошедшие обучение и повышение квалификации за границей.</p>
<a name = "kontakt"></a>
<h2>Контакты</h2>
<hr>
<p> <i></i></p>
<ul>
  <li>Телефон:<i>+7(909)457 16-69 Круглосуточно</i></li>
  <li>Электронная почта: indahaos@gmail.ru</li>
  <li>Локация: г.Петропавловск-Камчатский; ул.Пограничеая 67</li>
</ul>
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A23638b7a17e6ebe8ca69844420500ca5673683cf74328a9081394d1e4595e550&amp;source=constructor" width=100% height="800px" frameborder="5"></iframe>
